@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #201245;
    --secondary: #F8922E;
    --hover: #E7811D;
    --light: #8A6FD5;
}

button,
a {
    color: inherit;
    text-decoration: none;
    border: none;
    outline: none !important;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.w {
    width: 90%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.img {
    width: 100%;
    height: auto;
}

.container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero * {
    color: #fff;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__top {
    position: relative;
    margin: auto;
    z-index: 4;
}

.logo {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 50px;
    font-size: 48px;
    width: 220px;
    margin-top: 40px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.hero__content {
    position: relative;
    align-items: flex-start;
    z-index: 4;
    width: 100%;
    margin: 0;
}

.hero__content > * {
    width: 46%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.hero__content__left {
    padding-left: 80px;
}

.hero__content__header {
    margin: 15px 0;
    color: #fff;
    font-size: 44px;
    font-weight: 700;
}

.hero__content__subheader {
    font-weight: 400;
    font-size: 17px;
    color: #fff;
}

.hero__content__textarea {
    border: none;
    outline: none;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    padding: 30px;
    font-size: 17px;
    color: #313131;
    resize: none;
    background: #F3F4F7;
}

.btn {
    background: var(--secondary);
    color: #111;
    font-weight: 700;
    text-transform: uppercase;
}

.btn:hover {
    background: var(--hover);
}

.submitBtnWrapper {
    position: relative;
}

.submitBtnWrapper > * {
    transition: .2s all ease-in-out;
}

.btn--submit {
    width: 100%;
    height: 50px;
    border-radius: 40px;
    font-size: 18px;
    margin-top: 20px;
}

.loader {
    padding-top: 20px;
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero__content__right {
    position: absolute;
    top: 150px;
    right: 10vw;
    padding: 50px;
    width: 40%;
    background: #fff;
    -webkit-box-shadow: 0px 0px 11px -3px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 11px -3px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 11px -3px rgba(66, 68, 90, 1);
    border-radius: 20px;
    z-index: 10;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    max-height: 1000px;
}

.background__img {
    position: absolute;
    left: 0;
    top: -20%;
    width: 100%;
    height: auto;
    z-index: 2;
}

.backgroundOverlay {
    max-height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--primary);
    opacity: .8;
    z-index: 3;
}

.btn--submit,
.hero__content__textarea {
    position: relative;
    z-index: 5;
}

.backgroundBottom {
    position: absolute;
    top: 80vh;
    left: 0;
    width: 120vw;
    height: 400px;
    background: #fff;
    z-index: 7;
    transform: rotate(-5deg);
}

.btn--simple {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    font-size: 15px;
    margin: 20px auto 0;
    text-decoration: underline;
    color: var(--primary);
}

.section {
    position: relative;
    z-index: 10;
    padding: 0 10%;
    margin: 50px auto;
    width: 100%;
}

.section--arguments {
    position: relative;
    z-index: 21;
    margin-top: 100px;
}

.section__header {
    color: var(--primary);
    text-align: center;
    font-size: 44px;
    max-width: 1100px;
    margin: auto;
}

.hero__content__right__header {
    font-size: 19px;
    text-transform: uppercase;
    color: var(--primary);
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}

.chooseList,
.arguments {
    width: 100%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.shadow {
    -webkit-box-shadow: 0px 0px 6px -3px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 6px -3px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 6px -3px rgba(66, 68, 90, 1);
}

.chooseList__item,
.arguments__item {
    position: relative;
    width: 100%;
    height: auto;
    padding: 25px;
    border-radius: 20px;
}

.arguments__item__img {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
}

.arguments__item__title {
    margin: 20px 0;
    font-size: 17px;
    font-weight: 700;
}

.chooseList .arguments__item__title {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.arguments__item__extract {
    font-size: 14px;
}

.btn--arguments {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.modal__inner {
    max-width: 1600px;
    background: #fff;
    padding: 40px;
    width: 80%;
    height: auto;
    max-height: 80%;
    overflow-y: auto;
}

.modal__inner__header {
    font-size: 32px;
    color: var(--primary);
    text-align: center;
}

.modal__inner__media__img,
.video-container {
    position: relative;
    padding-bottom: 26.25%; /* 16:9 */
    height: 0;
}

.modal__inner__media__img > .img,
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal__inner__contentHeader {
    margin: 40px auto 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.btn--close {
    background: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    border: none;
    outline: none;
}

.modal__inner__media {
    margin: 20px auto;
}

.modal__inner__media > * {
    width: 48%;
}

.scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--light) #fff;
}

.scroll::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.scroll::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

.scroll::-webkit-scrollbar-thumb {
    background: var(--primary);
    border: 33px none var(--primary);
    border-radius: 36px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

.scroll::-webkit-scrollbar-thumb:active {
    background: var(--primary);
}

.scroll::-webkit-scrollbar-track {
    background: var(--light);
    border: 49px none var(--primary);
    border-radius: 50px;
}

.scroll::-webkit-scrollbar-corner {
    background: transparent;
}

.arguments__item__badge {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 14px;
    background: var(--light);
    border-radius: 10px;
    z-index: 100;
    color: #fff;
    text-transform: lowercase;
}

.error {
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 14px;
    text-align: center;
}

.loadingPage {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.chooseArgumentsHeader {
    text-align: center;
    margin: 25px auto 50px;
    font-size: 32px;
}

.chooseArgumentsHeader--responsePage {
    font-size: 24px;
}

.chooseList {
    margin-top: -350px;
    position: relative;
    z-index: 10;
}

.chooseList__item {
    background: transparent;
    position: relative;
    border: 2px solid transparent;
}

.chooseList__item:hover {
    transform: translateY(-5px);
}

.chooseList__item--selected {
    border: 2px solid #00dd00;
}

.chooseList__item__check {
    position: absolute;
    top: -25px;
    right: -25px;
    width: 50px;
    height: auto;
}

.chooseList__item .arguments__item__title {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: -10px;
}

.btn--submitBig {
    width: 100%;
    height: 60px;
    border-radius: 60px;
    margin: 30px auto;
}

.chooseArgumentsHeading .backgroundOverlay {
    height: 400px;
}

.chooseArgumentsHeading .backgroundBottom {
    height: 150px;
    top: 300px;
    transform: rotate(3deg);
}

.chooseArgumentsHeading .background {
    height: 400px;
}

.chooseArgumentsHeading .hero__content__right {
    box-shadow: none;
    color: #fff;
    height: auto;
    width: auto;
    background: transparent;
    top: 10px;
    margin-left: 600px;
}

.btn--submitBig,
.btn--addOwnArguments {
    position: relative;
    z-index: 12;
}

.btn--submitBig:disabled:hover {
    background: var(--secondary);
}

.btn--submitBig:disabled {
    opacity: .8;
    cursor: default;
}

.chooseList--foundByAi .chooseList__item {
    cursor: default;
}

.chooseList--foundByAi .chooseList__item:hover {
    transform: none;
}

.preview {
    padding-bottom: 100px;
    margin-top: -350px;
    z-index: 10;
    position: relative;
    align-items: flex-start;
}

.preview__left,
.preview__right {
    width: 48%;
}

.preview__header {
    font-size: 24px;
    text-align: center;
}

.preview__content {
    position: relative;
    padding: 20px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    margin: 20px auto;
    width: 100%;
}

.preview__content > a {
    text-decoration: underline;
    color: #8A6FD5;
}

.preview__content--link {
    margin-top: 40px;
}

.preview__content--link a {
    overflow-wrap: break-word;
}

.preview__contentWrapper {
    position: relative;
}

.btn--copy {
    position: absolute;
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    background: #fff;
    z-index: 20;
    border: 2px solid var(--secondary);
    border-radius: 5px;
    transition: .2s all ease-in-out;
}

.btn--copy:hover {
    background: var(--secondary);
}

.btn--copy:hover > .img {
    filter: brightness(0) invert(1);
}

.btn--copy > .img {
    transition: .2s all ease-in-out;
    width: 60%;
    height: auto;
}

.preview__right__text {
    font-size: 14px;
    text-align: center;
    margin: 20px auto 15px;
    max-width: 400px;
}

.preview__right__form {
    width: 500px;
    margin: 15px auto;
}

.preview__right__form > .input {
    width: 300px;
    height: 40px;
    border: 1px solid var(--primary);
    padding: 5px 10px;
    font-size: 15px;
}

.btn--preview {
    width: calc(100% - 320px);
    height: 40px;
    background: var(--secondary);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .2s all ease-in-out;
}

.btn--preview:hover {
    background: var(--hover);
}

.btn--preview:disabled {
    opacity: .8;
    cursor: default;
}

.preview__switchWrapper {
    margin: 40px auto;
    gap: 20px;
}

.preview__switchWrapper > p {
    width: auto;
    font-size: 13px;
}

.section--static {
    z-index: 3;
    margin: 100px auto;
}

.section__header {
    color: var(--primary);
    font-size: 44px;
    text-align: center;
    margin: 20px auto;
}

.section__text {
    display: block;
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.footer {
    padding: 15px 0;
    border-top: 1px solid #C8C8C8;
}

.footer__header {
    color: #7E7E7E;
    font-size: 12px;
    font-weight: 400;
}

.footer__links {
    justify-content: flex-end;
    gap: 15px;
}

.footer__links > a {
    display: block;
    height: 25px;
    width: auto;
    overflow: hidden;
    transition: .2s all;
}

.footer__links > a:hover {
    opacity: .75;
}

.footer__links .img {
    height: 100%;
    width: auto;
}

.footer__links > a:first-child {
    border-radius: 50%;
}

.copied {
    background: var(--secondary);
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 50px;
    border-radius: 5px;
    display: block;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: .5s all ease-in-out;
    z-index: 100;
}

.preview__right__checkbox {
    justify-content: center;
    gap: 10px;
    font-size: 13px;
    cursor: pointer;
    margin: 20px auto;
    max-width: 500px;
}

.btn--checkbox {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #000;
    padding: 5px;
}

.playlist {
    overflow: hidden;
    height: 440px;
}

.playlist__main {
    width: 60%;
}

.playlist__main--only {
    width: 100%;
}

.playlist__main__title {
    background: var(--primary);
    color: #fff;
    font-size: 21px;
    padding: 10px 30px;
}

.playlist__main__iframe {
    width: 100%;
}

.playlist__list {
    padding-right: 10px;
    height: 100%;
    width: 38%;
    overflow-y: auto;
    align-items: flex-start;
}

.playlist__list__item {
    overflow: hidden;
    border-radius: 10px;
    background: transparent;
    width: 100%;
    height: 80px;
    padding-right: 20px;
    border: 1px solid var(--primary);
    margin-bottom: 10px;
    font-size: 16px;
    transition: .2s all ease-in-out;
}

.playlist__list__item:not(.playlist__list__item--current):hover {
    background: #efefef;
}

.playlist__list__item--current {
    background: var(--secondary);
}

.playlist__list__item__img {
    height: 100%;
    width: auto;
    margin-right: 25px;
}

.playlist__list__item__img > .img {
    height: 100%;
    width: auto;
}

.playlist .video-container {
    padding-bottom: 58%;
}

.preview--response {
    flex-direction: column;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.preview--response > * {
    width: 100%;
}

.preview--response .preview__right {
    order: -1;
    margin-bottom: 50px;
}

@media(max-width: 1400px) {
    .preview__header {
        font-size: 19px;
    }

    .preview__content {
        font-size: 14px;
    }

    .btn--copy {
        width: 40px;
        height: 40px;
        top: -15px;
        right: -15px;
    }

    .preview__right__text {
        font-size: 13px;
    }

    .btn--preview {
        font-size: 13px;
    }

    .preview__right__form {
        width: 300px;
        flex-direction: column;
    }

    .preview__right__form > * {
        width: 100%;
        max-width: 300px;
    }

    .preview__right__form > input {
        margin-bottom: 10px;
    }
}

@media(max-width: 1200px) {
    .modal__inner__header {
        font-size: 24px;
    }

    .modal__inner__contentHeader {
        font-size: 19px;
    }

    .modal__inner__content {
        font-size: 14px;
    }

    .section__header {
        font-size: 32px;
    }

    .chooseList,
    .arguments {
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }

    .playlist {
        height: 350px;
    }
}

@media(max-width: 996px) {
    .chooseList,
    .arguments {
        grid-gap: 30px;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .section__header,
    .arguments__item {
        max-width: 400px;
    }

    .section__header {
        font-size: 24px;
    }

    .section--static {
        margin-bottom: 20px;
    }

    .modal__inner__media {
        flex-direction: column;
    }

    .modal__inner__media > * {
        width: 100%;
    }

    .modal__inner__media__img {
        display: none;
    }

    .video-container {
        padding-bottom: 56%;
    }

    .modal__inner__header {
        font-size: 15px;
    }

    .modal__inner__contentHeader {
        font-size: 14px;
        margin: 20px auto;
    }

    .modal__inner__content {
        font-size: 12px;
    }

    .preview {
        flex-direction: column;
    }

    .preview > div {
        width: 100%;
    }

    .preview__right {
        margin-top: 30px;
    }

    .playlist {
        height: auto;
        flex-direction: column;
    }

    .playlist .playlist__main {
        margin-bottom: 30px;
    }

    .playlist > * {
        width: 100%;
    }

    .playlist__list {
        max-height: 300px;
    }
}

@media(max-width: 768px) {
    .section__text,
    .arguments__item__title {
        font-size: 14px;
    }

    .btn--arguments,
    .arguments__item__badge,
    .arguments__item__extract {
        font-size: 12px;
    }

    .modal__inner {
        padding: 20px;
    }

    .modal__inner__content {
        text-align: center;
    }

    .btn--submitBig {
        margin-top: 0;
        font-size: 14px;
    }

    .chooseList__item__check {
        top: -10px;
        right: -10px;
        width: 35px;
    }

    .preview__right__checkbox,
    .preview__right__text,
    .copied,
    .preview__switchWrapper > p,
    .preview__content {
        font-size: 12px;
    }

    .copied {
        text-align: center;
    }

    .preview__right__form input {
        font-size: 13px;
    }

    .preview__right__checkbox,
    .preview__right__form,
    .preview__right__form > * {
        max-width: 245px !important;
        width: 100% !important;
    }

    .preview {
        padding-bottom: 40px;
    }
}

@media(max-width: 576px) {
    .footer {
        padding-top: 10px;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .footer__links {
        margin-top: 20px;
    }

    .modal__inner {
        width: 90%;
        height: 80%;
    }

    .btn--close {
        top: 2px;
        right: 15px;
    }

    .playlist__list__item__title {
        font-weight: 500;
        font-size: 13px;
    }

    .playlist__list__item {
        height: 50px;
    }

    .preview__left {
        margin-top: -30px;
    }
}
